@font-face{
    font-family: 'Rosmatika';
    src: url(/recursos/Rosmatika.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
:root{
    --color1: #233342;
    --color2: #D3835F;
    --color3: #E6E6E6;
    --color4: #605E5D;
    --color5: #233342e3;
    --color6: #ffffff;
    --colorScroll: rgba(211, 132, 95, 0.486);
    --nivel1: 5;
    --nivel2: 10;
    --nivel3: 15;
    --nivel4: 20;
    --nivel5: 25;
    --nivel6: 30;
    --border: 1px solid #ffffff;
    --border2: 1px solid #D3835F;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--color3);
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
/* EMCABEZADO */
#encabezado{
    position: relative;
    width: 100vw;
    height: 800px;    
}
#redesSociales{
    position: fixed;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#iconRedeS{
    position: fixed;
    top: 0;
    height: 5em;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.redesS{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
.redesS img{
    width: 1em;
    height: 1em;
}
.redesS:active{
    width: 2.5em;
    height: 2.5em;
}
#portada{
    position: fixed;
    top: 0em;
    width: 100%;
    height: 800px;
    z-index: var(--nivel1);
    background-image: url(recursos/portada.jpg);
    background-attachment: fixed;
    background-position-x: -10em;
    background-position-y: -18.5em;
    background-repeat: no-repeat;
    background-size: 450%;
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}
    .portadaArriba{
        transform: translateY(0);
    }
    .portadaAbajo{
        transform: translateY(5em);
    }
#imgMenu{
    position: fixed;
    top: 1em;
    right: 1em;
    width: 2em;
    height: 2em;
    background-image: url(recursos/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
    cursor: pointer;
}
#portada h1{
    position: fixed;
    top: 6em;
    left: 1em;
    font-family: 'Rosmatika', Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    color: var(--color2);
    animation: dezplazar 1s 1;
}
@keyframes dezplazar{
    0%{
        transform: translate(-20em);
    }
}
#portada p{
    position: fixed;
    top: 11.5em;
    left: 1.5em;
    width: 80%;
    font-size: .9em;
    text-align: justify;
    color: var(--color1);
    animation: dezplazar 1s 1 ;
}
#botonTeCuento{
    position: fixed;
    top: 25em;
    right: 1.5em;
    width: 12em;
    height: 2.5em;
    font-size: .9em;
    border-radius: 1.5em;
    color: var(--color6);
    background-color: var(--color4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: dezplazarB 1s 1;
}
@keyframes dezplazarB{
    0%{
        transform: translate(20em);
    }
}
/* WAVE */
#wave{
    position: absolute;
    width: 100%;
    height: 350px;
    top: calc(802px - 350px);
    left: 0;
    background-image: url(recursos/wave.png);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: var(--nivel1);
}
/* SOBRE MI */
#sobreMi{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--color3);
    z-index: var(--nivel2);
}
#contenedorImgFotoP{
    position: absolute;
    top: calc(25% - (13em/2));
    left: calc(50% - (13em/2));
    width: 13em;
    height: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#imgFotoP{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-image: url(recursos/FotoAD.jpg);
    background-repeat: no-repeat;
    background-position-x: .3em;
    background-size: 120%;
    transform: rotate(25deg);
}
#contenedorBarraInferior{
    position: absolute;
    width: 9.7em;
    height: 9.7em;
    border: solid .7em transparent;
    border-top-color: var(--color1);
    border-right-color: var(--color1);
    border-radius: 50%;
    animation: GiroDe 4s linear infinite;
}
#contenedorBarraSuperior{
    position: absolute;
    width: 11.1em;
    height: 11.1em;
    border: solid .7em transparent;
    border-bottom-color: var(--color2);
    border-left-color: var(--color2);
    border-radius: 50%;
    animation: GiroIz 4s linear infinite;
}
@keyframes GiroDe{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes GiroIz{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
#textoSobreMi{
    position: absolute;
    top: calc(65% - 15%);
    left: calc(50% - 40%);
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textoSobreMi p{
    text-align: justify;
    text-indent: 2em;
    font-size: .9em;
    color: var(--color2);
    font-weight: bold;
}
#tituloPortafolio{
    position: absolute;
    bottom: 0;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 2em;
    font-size: .9em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    color: var(--color6);
}