@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
font-face{
    src: url(recursos/Rosmatika.ttf);
    font-family: 'Rosmatika';
}
:root{
    --color1: #233342;
    --color2: #D3835F;
    --color3: #E6E6E6;
    --color4: #605E5D;
    --color5: #233342e3;
    --color6: #ffffff;
    --colorScroll: rgba(211, 132, 95, 0.486);
    --nivel1: 5;
    --nivel2: 10;
    --nivel3: 15;
    --nivel4: 20;
    --nivel5: 25;
    --nivel6: 30;
    --nivel6: 35;
    --border: 1px solid #ffffff;
    --border2: 1px solid #D3835F;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    background-color: var(--color3);
    font-family: 'Poppins', sans-serif;
    -webkit-tap-highlight-color: transparent;
}
body::-webkit-scrollbar{
    width: 10px;
}
body::-webkit-scrollbar-thumb{
    background-color: var(--colorScroll);
    border-radius: 5px;
}
body::-webkit-scrollbar-thumb:hover{
    background-color: var(--color2);
}
#fondoOscuroGeneral{
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color:  rgba(0,0,0,0.8);
    z-index: var(--nivel4);
    overflow: hidden;
    visibility: hidden;
}
#cerrar{
    width: 1.5em;
    height: 1.5em;
    top: 0em;
    right: calc(10% - 5% - (1.5em/2));
    position: fixed;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: var(--nivel6);
    color: var(--color6);
    visibility: hidden;
    font-weight: bold;
}
/* EMCABEZADO */
#encabezado{
    position: relative;
    width: 100vw;
    height: 800px;    
}
#redesSociales{
    position: fixed;
    width: 100%;
    height: 4em;
    display: flex;
    align-items: center;
    justify-content: center;
}
#iconRedeS{
    position: fixed;
    top: 0;
    height: 5em;
    width: 90%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.redesS{
    width: 2em;
    height: 2em;
    border-radius: 50%;
    background-color: var(--color1);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    overflow: hidden;
}
.redesS img{
    width: 1em;
    height: 1em;
}
.redesS:active{
    width: 2.5em;
    height: 2.5em;
}
#portada{
    position: fixed;
    top: 0em;
    width: 100%;
    height: 800px;
    z-index: var(--nivel1);
    background-image: url(recursos/portada.jpg);
    background-attachment: fixed;
    background-position-x: -10em;
    background-position-y: -18.5em;
    background-repeat: no-repeat;
    background-size: 450%;
    box-shadow: 0px -1px 5px 0px rgba(0,0,0,0.75);
}
    .portadaArriba{
        transform: translateY(0);
    }
    .portadaAbajo{
        transform: translateY(5em);
    }
#imgMenu{
    position: fixed;
    top: 2em;
    right: 2em;
    width: 2.5em;
    height: 2.5em;
    background-image: url(recursos/menu.svg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: 100%;
    transform: rotate(90deg);
    cursor: pointer;
}
#portada h1{
    position: fixed;
    top: 6em;
    left: 1em;
    font-family: 'Rosmatika', Arial, Helvetica, sans-serif;
    font-size: 1.2em;
    color: var(--color2);
    animation: dezplazar 1s 1;
}
@keyframes dezplazar{
    0%{
        transform: translate(-20em);
    }
}
#portada p{
    position: fixed;
    top: 11.5em;
    left: 1.5em;
    width: 80%;
    font-size: .9em;
    text-align: justify;
    color: var(--color1);
    animation: dezplazar 1s 1 ;
}
#botonTeCuento{
    position: fixed;
    top: 25em;
    right: 1.5em;
    width: 12em;
    height: 2.5em;
    font-size: .9em;
    border-radius: 1.5em;
    color: var(--color6);
    background-color: var(--color4);
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    animation: dezplazarB 1s 1;
}
@keyframes dezplazarB{
    0%{
        transform: translate(20em);
    }
}
/* WAVE */
#wave{
    position: absolute;
    width: 100%;
    height: 350px;
    top: calc(802px - 350px);
    left: 0;
    background-image: url(recursos/wave.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: var(--nivel1);
}
/* SOBRE MI */
#sobreMi{
    position: relative;
    width: 100vw;
    height: 100vh;
    background-color: var(--color3);
    z-index: var(--nivel2);
}
#contenedorImgFotoP{
    position: absolute;
    top: calc(25% - (13em/2));
    left: calc(50% - (13em/2));
    width: 13em;
    height: 13em;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
}
#imgFotoP{
    width: 10em;
    height: 10em;
    border-radius: 50%;
    background-image: url(recursos/FotoAD.jpg);
    background-repeat: no-repeat;
    background-position-x: .3em;
    background-size: 120%;
    transform: rotate(25deg);
}
#contenedorBarraInferior{
    position: absolute;
    width: 9.7em;
    height: 9.7em;
    border: solid .7em transparent;
    border-top-color: var(--color1);
    border-right-color: var(--color1);
    border-radius: 50%;
    animation: GiroDe 4s linear infinite;
}
#contenedorBarraSuperior{
    position: absolute;
    width: 11.1em;
    height: 11.1em;
    border: solid .7em transparent;
    border-bottom-color: var(--color2);
    border-left-color: var(--color2);
    border-radius: 50%;
    animation: GiroIz 4s linear infinite;
}
@keyframes GiroDe{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes GiroIz{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(-360deg);
    }
}
#textoSobreMi{
    position: absolute;
    top: calc(65% - 15%);
    left: calc(50% - 40%);
    width: 80%;
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#textoSobreMi p{
    text-align: justify;
    text-indent: 2em;
    font-size: .9em;
    color: var(--color2);
    font-weight: bold;
}
#tituloPortafolio{
    position: absolute;
    bottom: 0;
    left: calc(50% - 3.5em);
    width: 7em;
    height: 2em;
    font-size: .9em;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--color1);
    color: var(--color6);
}
/* PROYECTOS */
#Portafolio{
    position: relative;
    width: 100%;
    height: calc((20em*9));
    z-index: var(--nivel2);
    display: grid;
    grid-template-columns: repeat(1, 18em);
    grid-template-rows: repeat(9, 18em);
    align-content: space-around;
    justify-content: space-around;
    background-color: var(--color1);
}
.dise, .diseImg{
    width: 18em;
    height: 18em;
    overflow: hidden;
}
.diseImg:hover{
    transform: rotate(-10deg) scale(1.3);
    transition: 1s;
}
.diseImg:hover::after{
    content: '';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    top: 0;
    width: 20em;
    height: 20em;
}
.extra{
    box-shadow: 0px 0px 23px 0px rgba(0,0,0,0.75);
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
.extraImg{
    background-position: center;
    background-repeat: no-repeat;
}
#diseImg_1{
    background-image: url(recursos/Dise1.jpg);
    background-size: 200%;
}
#diseImg_2{
    background-image: url(recursos/Dise2.jpg);
    background-size: 200%;
}
#diseImg_3{
    background-image: url(recursos/Dise3.jpg);
    background-size: 200%;
}
#diseImg_4{
    background-image: url(recursos/Dise4.jpg);
    background-size: 150%;
}
#diseImg_5{
    background-image: url(recursos/Dise5.jpg);
    background-size: 150%;
}
#diseImg_6{
    background-image: url(recursos/Dise6.jpg);
    background-size: 150%
}
#diseImg_7{
    background-image: url(recursos/Dise7.jpg);
    background-size: 100%;
}
#diseImg_8{
    background-image: url(recursos/Dise8.jpg);
    background-size: 100%;
}
#diseImg_9{
    background-image: url(recursos/Dise9.jpg);
    background-size: 100%;
}

/* SECCION EMERGENTES */
#emergenteTelefono, #emergenteCorreo{
    position: fixed;
    top: calc(50% - 15%);
    left: calc(50% - 45%);
    width: 90%;
    height: 30%;
    z-index: var(--nivel6);
    background-color: var(--color3);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    border-radius: 2em;
    visibility: hidden;
}
#emergenteTelefono a, #emergenteCorreo a{
    text-decoration: none;
    color: #000000;
}
#Whatsapp, #llamar, #texTelf, #enviarCorreo, #textCorreo{
    width: 70%;
    height: 40px;
    overflow: hidden;
}
#texTelf, #textCorreo{
    display: flex;
    align-items: center;
}
#TextoCorreo, #enviarCorreo p, #llamar p, #Whatsapp p, #NumTelefono{
    color: var(--color1);
}
#enviarCorreo p:hover, #llamar p:hover, #Whatsapp p:hover{
    color: var(--color2);
}
#imgEmergTelef, #imgEmergCorreo{
    width: 1.5em;
    height: 1.5em;
    background-position: center;
    background-size: 100%;
    background-repeat: no-repeat;
    cursor: pointer;
}
.imgCopy{
    background-image: url(recursos/copy.png);
    margin-left: 1.5em;
}
#confirmacionCopy{
    position: fixed;
    bottom: .5em;
    left: calc(50% - (15em/2));
    width: 15em;
    height: 3em;
    font-size: .8em;
    font-weight: bold;
    border-radius: 1em;
    background-color: rgba(0, 128, 0, 0.603);
    color: #ffffff;
    visibility: hidden;
    z-index: var(--nivel6);
    display: flex;
    align-items: center;
    justify-content: center;
}

/* DETALLES PROYECTOS */

#contenedorDetallePortafolio{
    position: fixed;
    top: 0;
    left: calc(50% - (80%/2));
    width: 80%;
    height: 100%;
    background-color: #ffffff;
    visibility: hidden;
    overflow: hidden;
    z-index: var(--nivel5);
}
#contenedorFondoBotones{
    position: absolute;
    bottom: 0;
    background-color: var(--color4);
    width: 100%;
    height: 3.5em;
}
#botonSiguiente, #botonAtras{
    width: 1.5em;
    height: 1.5em;
    bottom: 1em;
    position: absolute;
    border-radius: 50%;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    z-index: var(--nivel1);
}
#botonAtras{
    left: 3em;
}
#botonSiguiente{
    right: 3em;
}
#botonSiguiente img, #botonAtras img{
    width: 80%;
    height: 80%;
}
.proyectos::-webkit-scrollbar{
    width: 0px;
}
.proyectos::-webkit-scrollbar-thumb{
    background-color: var(--colorScroll);
    border-radius: 0px;
}
.proyectos::-webkit-scrollbar-thumb:hover{
    background-color: var(--color2);
}
.proyectos{
    position: absolute;
    top: 0;
    width:100%;
    height: calc(100% - 3.5em);;
    overflow-y: scroll;
}
.proyectos img{
    width: 100%;
}
#proyecto_1, #proyecto_2, #proyecto_3, #proyecto_4, #proyecto_5, #proyecto_6, #proyecto_7, #proyecto_8, #proyecto_9{
    visibility: hidden;
}

/* MEDIA QUERY */

@media (min-width: 426px) and (max-width: 570px) {
    /* EMCABEZADO */
    #portada{
        background-size: 370%;
    }
    #portada h1{
        top: 8em;
    }
    #portada p{
        top: 14em;
    }
    /* SOBRE MI */
    #textoSobreMi{
        left: calc(50% - 35%);
        width: 70%;
    }
    /* SECCION EMERGENTES */
    #emergenteTelefono, #emergenteCorreo{
        left: calc(50% - 35%);
        width: 65%;
    }
    }
    
    @media (min-width: 571px) and (max-width: 768px) {
    /* EMCABEZADO */
    #iconRedeS{
        width: 70%;
    }
    #portada{
        background-size: 280%;
    }
    #portada h1{
        font-size: 1.5em;
        top: 6.3em;
        left: 2em;
    }
    #portada p{
        top: 12em;
        width: 80%;
        font-size: 1em;
        left: 3em;
    }
    #botonTeCuento{
        top: 21em;
        right: 6em;
        font-size: 1em;
    }
    /* SOBRE MI */
    #textoSobreMi{
        left: calc(50% - 30%);
        width: 60%;
        height: 35%;
    }
    #textoSobreMi p{
        font-size: 1em;
    }
    #tituloPortafolio{
        font-size: 1em;
    }
    /* SECCION EMERGENTES */
    #emergenteTelefono, #emergenteCorreo{
        left: calc(50% - 25%);
        width: 50%;
    }
    }
    
    
    @media (min-width: 769px) and (max-width: 1024px) {
    /* EMCABEZADO */
    #iconRedeS{
        width: 60%;
    }
    #portada{
        background-position-x: -10em;
        background-size: 200%;
    }
    #portada h1{
        top: 6em;
        left: 4em;
        font-size: 1.5em;
    }
    #portada p{
        top: 12em;
        left: 6em;
        width: 55%;
        font-size: 1em;
    }
    #botonTeCuento{
        top: 21em;
        right: 5em;
        font-size: 1em;
    }
    /* SOBRE MI */
    #contenedorImgFotoP{
        top: calc(25% - (16em/2));
        left: calc(50% - (16em/2));
        width: 16em;
        height: 16em;
    }
    #imgFotoP{
        width: 12em;
        height: 12em;
    }
    #contenedorBarraInferior{
        width: 11.9em;
        height: 11.9em;
        border: solid .9em transparent;
        border-top-color: var(--color1);
        border-right-color: var(--color1);
    }
    #contenedorBarraSuperior{
        width: 13.5em;
        height: 13.5em;
        border: solid .9em transparent;
        border-bottom-color: var(--color2);
        border-left-color: var(--color2);
    }
    #textoSobreMi{
        left: calc(50% - 30%);
        width: 60%;
    }
    #textoSobreMi p{
        font-size: 1em;
    }
    #tituloPortafolio{
        font-size: 1em;
    }
    /* PROYECTOS */
    #Portafolio{
        height: calc((20em*5));
        grid-template-columns: repeat(2, 18em);
        grid-template-rows: repeat(5, 18em);
    }
    /* SECCION EMERGENTES */
    #emergenteTelefono, #emergenteCorreo{
        left: calc(50% - 20%);
        width: 40%;
    }
    /* DETALLES PROYECTOS */
    .proyectos::-webkit-scrollbar{
        width: 10px;
    }
    .proyectos::-webkit-scrollbar-thumb{
        background-color: var(--colorScroll);
        border-radius: 5px;
    }
    }
    @media (min-width: 1025px) and (max-width: 1280px) {
    #cerrar{
        display: none;
    }
    /* EMCABEZADO */
    #iconRedeS{
        width: 60%;
    }
    .redesS{
        width: 2.5em;
        height: 2.5em;
    }
    .redesS img{
        width: 1.5em;
        height: 1.5em;
    }
    .redesS:hover{
        background-color: var(--color2);
        transform: rotate(-30deg);
        transition: .5s;
    }
    .redesS img:hover{
        width: 1.7em;
        height: 1.7em;
        transition: .5s;
    }
    #portada{
        background-position-x: -10em;
        background-size: 150%;
    }
    #portada h1{
        top: 7em;
        left: 4em;
        font-size: 1.7em;
    }
    #portada p{
        top: 14em;
        left: 6.2em;
        width: 60%;
        font-size: 1.1em;
    }
    #botonTeCuento{
        top: 21em;
        right: 8em;
        font-size: 1.1em;
    }
    /* SOBRE MI */
    #contenedorImgFotoP{
        top: calc(25% - (18em/2));
        left: calc(50% - (18em/2));
        width: 18em;
        height: 18em;
    }
    #imgFotoP{
        width: 14em;
        height: 14em;
    }
    #contenedorBarraInferior{
        width: 13.9em;
        height: 13.9em;
        border: solid .9em transparent;
        border-top-color: var(--color1);
        border-right-color: var(--color1);
    }
    #contenedorBarraSuperior{
        width: 15.6em;
        height: 15.6em;
        border: solid .9em transparent;
        border-bottom-color: var(--color2);
        border-left-color: var(--color2);
    }
    #textoSobreMi{
        top: calc(65% - 15%);
        left: calc(50% - 25%);
        width: 50%;
        height: 35%;
    }
    #textoSobreMi p{
        font-size: 1em;
    }
    #tituloPortafolio{
        font-size: 1em;
    }
    /*  */
    #Portafolio{
        height: calc((20em*3));
        grid-template-columns: repeat(3, 18em);
        grid-template-rows: repeat(3, 18em);
    }
    /* SECCION EMERGENTES */
    #emergenteTelefono, #emergenteCorreo{
        left: calc(50% - 15%);
        width: 30%;
    }
    /* DETALLES PROYECTOS */
    .proyectos::-webkit-scrollbar{
        width: 10px;
    }
    .proyectos::-webkit-scrollbar-thumb{
        background-color: var(--colorScroll);
        border-radius: 5px;
    }
    }
    @media (min-width: 1281px){
    #cerrar{
        display: none;
    }
    /* EMCABEZADO */
    #iconRedeS{
        width: 40%;
    }
    .redesS{
        width: 2.5em;
        height: 2.5em;
    }
    .redesS img{
        width: 1.5em;
        height: 1.5em;
    }
    .redesS:hover{
        background-color: var(--color2);
        transform: rotate(-30deg);
        transition: .5s;
    }
    .redesS img:hover{
        width: 1.7em;
        height: 1.7em;
        transition: .5s;
    }
    #portada{
        background-position-x: 0em;
        background-position-x: 0em;
        background-size: 120%;
    }
    #portada h1{
        top: 6.5em;
        left: 4em;
        font-size: 2em;
    }
    #portada p{
        top: 15em;
        left: 7.5em;
        width: 45%;
        font-size: 1.1em;
    }
    #botonTeCuento{
        top: 17em;
        right: 7.5em;
        font-size: 1.1em;
    }
    /* SOBRE MI */
    #contenedorImgFotoP{
        top: calc(25% - (18em/2));
        left: calc(50% - (18em/2));
        width: 18em;
        height: 18em;
    }
    #imgFotoP{
        width: 14em;
        height: 14em;
    }
    #contenedorBarraInferior{
        width: 14em;
        height: 14em;
        border: solid 1em transparent;
        border-top-color: var(--color1);
        border-right-color: var(--color1);
    }
    #contenedorBarraSuperior{
        width: 16em;
        height: 16em;
        border: solid 1em transparent;
        border-bottom-color: var(--color2);
        border-left-color: var(--color2);
    }
    #textoSobreMi{
        top: calc(65% - 15%);
        left: calc(50% - 20%);
        width: 40%;
        height: 35%;
    }
    #textoSobreMi p{
        font-size: 1.3em;
    }
    #tituloPortafolio{
        font-size: 1.2em;
    }
    /* PROYECTOS */
    #Portafolio{
        height: calc((20em*3));
        grid-template-columns: repeat(4, 18em);
        grid-template-rows: repeat(3, 18em);
    }
    /* SECCION EMERGENTES */
    #emergenteTelefono, #emergenteCorreo{
        left: calc(50% - (25%/2));
        width: 25%;
    }
    /* DETALLES PROYECTOS */
    .proyectos::-webkit-scrollbar{
        width: 10px;
    }
    .proyectos::-webkit-scrollbar-thumb{
        background-color: var(--colorScroll);
        border-radius: 5px;
    }
    }